* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./home-bg.jpg");
  background-size: cover;
}
.home-container {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  backdrop-filter: blur(25px);
  /* background-color: rgb(240, 145, 145); */
  /* box-shadow: 10px 5px 5px 5px rgb(210, 101, 82); */
}
h2 {
  margin-top: 8px;
  color: white;
  font-size: x-large;
  font-weight: 700;
  text-align: center;
}
.home-card {
  margin-top: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  outline: none;
  width: 12rem;
  height: 3rem;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 3px;
  background: rgb(5, 51, 205);
  cursor: pointer;
}
button p {
  color: white;
  font-size: small;
  text-transform: capitalize;
}
button:hover {
  background-color: rgb(31, 76, 223);
  transition: all;
  transition-duration: 500ms;
}
