/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container Styles */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form Styles */
.register-container form {
  display: flex;
  flex-direction: column;
  border: 1px solid #242121;
  padding: 16px;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Input Group Styles */
.register-container form div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.register-container form div label {
  font-size: 14px;
  color: #333;
}

/* Input Field Styles */
.register-container form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.register-container form input:focus {
  border-color: #007bff;
  outline: none;
}

/* Button Styles */
.register-container form button {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-container form button:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  text-align: center;
}
.success {
  color: rgb(9, 197, 9);
  text-align: center;
}
/* Responsive Design */
@media (max-width: 600px) {
  .register-container form {
    padding: 12px;
  }
}
