<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Library management</title>
    {% endblock %}
  </head>
  <body>
    <div id="nav-bar">
      <nav>
        <ul class="nav-list">
          <li><a href="home.html">Home</a></li>
          <li><a href="books.html">Books</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="login.html">Login</a></li>
        </ul>
      </nav>
    </div>

    <div id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
