{% extends "base.html" %} {% block head %} {{super()}}
<link rel="stylesheet" href="../static/books.css" />
{% endblock %} {% block content %}

<div class="books-container">
  <h1>Books Collection</h1>
  <p>Here is a list of all available books in our library.</p>

  <table class="books-table">
    <thead>
      <tr>
        <th>Book ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Edition</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.edition }}</td>
        <td>{{ book.count }}</td>
        <td>
          <div class="actions">
            <button>Delete</button> <button>Update</button>
          </div>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="7">No books available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="/books/add" method="POST">
    <h2>Add New Book</h2>
    <div class="new-book-form">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Book Name" required /><br />
      </div>
      <div>
        <label for="edition">Edition:</label>
        <input type="text" name="edition" placeholder="Edition" required />
      </div>
      <div>
        <label for="year">Year:</label>
        <input type="date" name="year" placeholder="Year" required />
      </div>

      <div>
        <label for="author">Author:</label>
        <input type="text" name="author" placeholder="Author" required />
      </div>
      <div>
        <label for="count">Quantity:</label>
        <input type="number" name="count" placeholder="Quantity" required />
      </div>
    </div>

    <button type="submit" class="add-btn">Add Book</button>
  </form>
</div>
{% endblock %}
